@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/BebasNeue.ttf');
}
@font-face {
    font-family: 'bw-mitga';
    src: url('../fonts/BwMitga-Black.ttf');
}
@font-face {
    font-family: 'free-ship';
    src: url('../fonts/freeshipping.ttf');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* transition: 0.5s; */
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
}  
::-webkit-scrollbar-thumb {
    background: rgb(179, 178, 178);
    border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {   
    background: rgb(136, 134, 134); 
}
body{
    height: auto;
    width: auto;
    font-family: bw-mitga;
    /* background-color: rgba(226, 37, 194, 0.219); */
}
.container{
    position: relative;
    margin: 10px auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
    height: 99vh;
    overflow: hidden;
    /* background-image: url('../images/bg-home.jpeg'); */
}
.login_page, .signup{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 0, 0, 0.218);
}
sig{
    color:rgb(207, 38, 207);
    height: 15px;
    font-family: roboto;
    text-align: center;
}
close{
    color: purple;
    position: absolute;
    font-size: larger;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 10px 0 10px 0;
    background-color: white;
    cursor: pointer;
}
.login_page form, .signup form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 50px 0;
    display: flex; /*modify to flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.194);
    overflow: hidden;
}
.login_page form input, .signup form input{
    font-family: roboto;
    font-size: 18px;
    padding: 15px;
    width: 80%;
    color:rgb(207, 38, 207);
    outline: none;
    border: 1px solid rgb(207, 38, 207);
    border-radius: 10px;
    margin: 5px 0;
    background-color: transparent;
}
.login_page form input::placeholder, .signup form input::placeholder{
    color: rgba(207, 38, 207, 0.5);
}
.signup form input:focus, .login_page form input:focus{
    box-shadow: 0 0 10px rgba(207, 38, 207, 0.8);
}
.tele::-webkit-outer-spin-button, .tele::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.login_page form h5{
    text-align: center;
    cursor: pointer;
    color: white;
    margin: 0 0 10px 0;
}
.login_page form h5:hover{
    color: red;
}
.login_page form button, .signup form button{
    font: 900 18px roboto;
    transition: 0.5s;
    border-radius: 15px;
    background-color: rgb(207, 38, 207);
    color: white;
    width: 50%;
    cursor: pointer;
    padding: 15px 20px;
    margin: 15px;
    border: transparent;
}
.login_page form button:hover, .signup form button:hover{
    background-color: rgb(121, 13, 121)
}
.main-section{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}
.main-section img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.main-section h1{
    color: rgb(192, 46, 192);
    font-size: 25px;
}

.signinarea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    /* background: yellowgreen; */
}
.signinarea .top{
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signinarea h6{
    margin: 10px 0;
    color: gray;
    font-family: roboto;
}
.signinarea button{
    transition: 0.5s;
    font: 900 18px restrict;
    letter-spacing: 2px;
    padding: 10px 0;
    width: 65%;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: rgb(207, 38, 207);
    box-shadow: 0 0 8px rgba(207, 38, 207);
    color: white;
}
.signinarea button:nth-child(4){
    background-color: transparent;
    color: rgb(207, 38, 207);
}
.signinarea button:hover{
    background-color: transparent;
    border: 1px solid rgb(207, 38, 207);
    color: rgb(207, 38, 207);
    cursor: pointer;
}

.footer{
    font-family: roboto;
    border-radius: 0 0 10px 10px ;
    padding: 15px 0;
    text-align: center;
}

/* #################### CHAT APP SECTION ########################## */
/* #################### CHAT APP SECTION ########################## */
.preloader{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.preloader i{
    font-size: 30px;
}

.app{
    position: relative;
    min-height: 97vh;
    max-height: auto;
    box-shadow: 1px 1px 10px gainsboro;
    border-radius: 15px;
}
/* APP CONTAINER */
/* APP CONTAINER */
.appcontainer{
    position: relative;
    margin: 10px auto;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(245, 111, 245);
    
}


/* ##########################   USER PROFILE SETTING    ##########################  */
.user_profile{
    display: none;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}
.user_profile button{
    border: transparent;
    font-size: large;
    background-color: transparent;
    text-align: left;
    max-width: fit-content;
    padding: 10px;
    cursor: pointer;
}
.user_profile .logOutBtn{
    position: absolute;
    right: 10px;
    font: bold larger roboto;
    box-shadow: 1px 1px 5px gainsboro;
    border-radius: 15px;
}

userimage{
    position: relative;
    display: flex;
    height: 95px;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px gainsboro;
}

userimage form img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    justify-self: center;
    margin-right: 10px;
}

userimage form label{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.589);
    color: white;
    padding: 10px;
    height: 40px;
    border-radius: 15px;
}
userimage form .fa-pen, userimage form .fa-upload{
    position: absolute;
    left: 25px;
    bottom: 10px;
}
userimage form .fa-upload {
    display: none;
}
userimage .CImg{
    position: absolute;
    left: 25px;
    bottom: 0;
    margin-top: 10px;
}
userimage form label:hover{
    background-color: gray; 
}

userimage yourname{
    font: 900 25px roboto;
    padding: 0 0 5px 0;
}

.user_profile maincontent{
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px gainsboro;
}

.user_profile h3{
    cursor: default;
}
.user_profile maincontent form{
    display: flex;
    flex-direction: column;
}
.user_profile maincontent form input{
    margin:  0 0 0 10px;
    width: 200px;
}
.user_profile maincontent h3{
    font: 300 20px roboto;
}

.user_profile form textarea{
    width: 50%;
    height: 150px;
    margin: 0 0 0 10px;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    text-align: center;
    font-family: inherit;
    outline: none;
    resize: none;
    /* background-color: rgba(221, 160, 221, 0.603); */

}
.user_profile maincontent form [type=submit]{
    width: max-content;
    padding: 5px 10px;
    margin: 10px ;
    border: 1px solid transparent;
    border-radius: 5px;
    font: 500 15px roboto;
    cursor: pointer;
}
.user_profile maincontent form input{
    padding: 5px 10px;
    margin: 10px 0;
    font: 500 15px roboto;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    
}

dp{
    cursor: pointer;
}
.profile{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 0;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 365px;
    margin: 0 10px;
}
.profile yourname{
    font: 900 20px roboto;
}

.chats_head{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgb(245, 111, 245);
    /* border-radius: 25px 25px 0 0; */
}

.chats_head h1{
    transition: all;
    font: 600 20px restrict;
    cursor: pointer;
    background-color: white;
    color: rgb(245, 111, 245);
    padding: 10px 15px;
    margin: 5px;
    border-radius: 355px;

}
.chats_head h1:hover{
    color: rgb(157, 2, 157);
}

.friends, groups{
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-color: white;
}

.friends div{
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 0 12px;
}
.friends div img{
    width: 50px;
    height: 50px;
    border-radius: 365px;
}
.alignUserlog{
    align-self: flex-end;
    background-color: rgb(245, 111, 245);
    color: white;
    border-radius:10px 10px 0 10px;
}
chatname,yourname{
    font: 900 15px roboto;
    text-transform: capitalize;
}
talk{
    font: 300 15px roboto;
    color: gray;
}
chatlog{
    position: relative;
    width: 100%;
    box-sizing: content-box;
    display: none;
    flex-direction: column;
    min-height: 97vh;
    max-height: auto;
    background-color: rgba(220, 220, 220, 0.281);
    border-radius: 10px;
    padding: 0 0 5px 0;
}
chatlog chat_top button{
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    border: transparent;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}
chatlog chat_top{
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 25px;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    border-radius: 0 0 15px 15px;
}
.imgHead{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 100px;

}

chatlog h1{
    font-size: 15px;
}
display{
    margin: 0 0 0 10px;
}
chatlog about{
    width: 300px;
    text-align: center;
    font: 300 15px roboto;
}
chatlog article logname{
    font: 500 9px roboto;
    color: rgb(47, 2, 77);
}
logs{
    display: flex;
    flex-direction: column;
    padding: 0 10px;

}
logs article{
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: default;
    padding: 10px;
    background-color: white;
    border-radius: 0 10px 10px 10px;
    min-width: 20%;
    max-width: 85%;
    height: max-content;
    align-self: flex-start;
    margin: 5px 0;
}
log{
    font: 400 13px roboto;
    margin-right: 30px;
    margin-bottom: 5px;
}
time{
    position: absolute;
    right: 7px;
    bottom: 2px;
    font: 300 10px roboto; 
    text-align: right;
    color: purple;
}
.edit:hover make{
    height: 25px;
    transition: 1s;
}
make{
    overflow: hidden;
    height: 0;
}
edit, del{
    background-color: lightgreen;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 2px;
}
del{
    background-color: red;
}
sending{
    position: fixed;
    bottom: 0;
    background-color: rgb(228, 225, 225);
    border-radius: 5px;
    padding: 5px 0;
    width: 500px;
}
.GrpSend{
    position: absolute;  
    bottom: 0;
}
smile{
    position: absolute;
    left: 5px;
    bottom: 13px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
emojis{
    position: absolute;
    bottom: 55px;
    left: 5px;
    background-color: white;
    box-shadow: 1px 1px 4px gainsboro;
    border-radius: 10px;
    padding: 5px;
}
emojis emo{
    cursor: pointer;
    margin: 0 5px;
}
chatlog form, groupchats form{
    background-color: white;
    border-radius: 10px;
    margin: 0 35px;
    overflow: hidden;
}
chatlog form input, groupchats form input{
    font: 900 15px roboto;
    padding: 10px;
    border: 1px solid transparent;
    outline: none;
    text-align: start;
    width: 100% !important;
}
chatlog form label, groupchats form label{
    position: absolute;
    right: -5px !important;
    bottom: 0px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 10px;
}
chatdate{
    background-color: rgb(228, 225, 225);
    width: max-content;
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    font: 400 15px roboto;
    align-self: center;
}

/******************************* GROUP SECTIONS HANDLERS ************************/
/******************************* GROUP SECTIONS HANDLERS ************************/
groups{
    display: none;
}
groups div{
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 12px;
}
groups div img{
    width: 50px;
    height: 50px;
    border-radius: 365px;
}
groupname{
    font: bold 1.2rem roboto;
}
groupchats{
    display: none;
    flex-direction: column;
}
grouplogs{
    display: flex;
    flex-direction: column;
    padding:0 10px;
    min-height: 98vh;
    max-height: auto;
    background-color: rgba(220, 220, 220, 0.281);
}
groupchats group_top{
    position: fixed;
    top: 0;
    display: flex;
    padding: 15px 0;
    background-color: white;
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid gainsboro;
    width: 500px;
    z-index: 99;
}
groupchats group_top h2{
    border-radius: 15px;
    width:100%;
}
groupchats button{
    width: 30px;
    height: 30px;
    border: transparent;
    margin: 0 10px;
    font-size: large;
    cursor: pointer;
    background-color: transparent;
}
groupchats article{
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: default;
    padding: 10px;
    background-color: white;
    border-radius: 0 10px 10px 10px;
    min-width: 20%;
    max-width: 85%;
    height: max-content;
    align-self: flex-start;
    margin: 5px 0;
}
groupchats article logname{
    font: 500 10px roboto;
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
    width: max-content;
    background-color: gray;
}
.activeme{
    align-self: flex-end; 
    background-color: rgb(245, 111, 245) !important; 
    color:white; 
    border-radius:10px 10px 0 10px
}
.activeme logname{
    color: white;
    background-color: black;
}

/******************************* COMMUNITY SECTIONS HANDLERS ************************/
/******************************* COMMUNITY SECTIONS HANDLERS ************************/
community{
    display: none;
    min-height: 90vh;
    max-height: auto;
    border-radius: 25px 25px 0 0;
    background-color: white;
}
community display{
    margin: 0 0 0 10px;
    width: 365px;
}
community div{
    border-bottom: 1px solid gainsboro;
    cursor: default;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 12px;
}
community div img{
    width: 50px;
    height: 50px;
    border: 3px solid plum;
    border-radius: 365px;
}
community chatname{
    letter-spacing: 1px;
}
community userabout{
    font: 400 15px roboto;
    font-style: italic;
}
add{
    position: absolute;
    cursor: pointer;
    right: 25px;
    font-size: 25px;
}
add:hover{
    color: gray;
}